extends layout

append scripts
	script(type='text/javascript' src='../scripts/landing.js')
append main
	//- div(class="half-panel")
		
	//- div(class="input-panel")
	h1(class='main-instruction') What's on your mind?
	textarea(class='main-text-input' rows='5' cols='50' id="text-input")
	div
		button(class='next-button') Move On
		//- div(class="output-panel")
		//- 	h1(class='main-instruction') Output
		//- 	div(id='output')
			//- h1(class='main-instruction') Task Info
			//- div(class='single-row')
			//- 	div(class='single-row-title') Title:
			//- 	div(class='single-row-value' id='task-title')
			//- div(class='single-row')
			//- 	div(class='single-row-title') Due Date:
			//- 	div(class='single-row-value' id='task-due-date')
			//- div(class='single-row')
			//- 	div(class='single-row-title') Duration:
			//- 	div(class='single-row-value' id='task-duration')
			//- div(class='single-row')
			//- 	div(class='single-row-title') Category:
			//- 	div(class='single-row-value' id='task-category')
			//- div(class='single-row')
			//- 	div(class='single-row-title') Context:
			//- 	div(class='single-row-value' id='task-context')
			
