doctype html
html
	head
		title GTD
		block scripts
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
			script(src="https://use.fontawesome.com/a4de407ae1.js")
			script(src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js")
			script.
				var config = {
					apiKey: "AIzaSyBcmw373Fg2wwdaGrrsSomgEHtVP4V_r2c",
					authDomain: "cardbasedgtd.firebaseapp.com",
					databaseURL: "https://cardbasedgtd.firebaseio.com",
					projectId: "cardbasedgtd",
					storageBucket: "cardbasedgtd.appspot.com",
					messagingSenderId: "519828513533"
				};
				firebase.initializeApp(config);
		link(rel='stylesheet', href='../stylesheets/style.css')

	body
		block header
		div(id='main')
			block main
		block footer
